{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{% static 'indexstyle.css' %}" >

</head>
<body>

	<h1><span>CSS</span> Button Animations</h1>

<!-- Flex Container -->
<div id="container">

 

  <div class="button" id="button-5">
    <div id="translate"></div>
    <a href={% url 'tablenew' %}>Subject_1</a>
  </div>

 
 
  <div class="button" id="button-5">
    <div id="translate"></div>
    <a href="#">Subject_2</a>
  </div>

  <div class="button" id="button-5">
    <div id="translate"></div>
    <a href="#">Subject_3</a>
  </div>

  <div class="button" id="button-5">
    <div id="translate"></div>
    <a href="#">Subject_4</a>
  </div>

  <div class="button" id="button-5">
    <div id="translate"></div>
    <a href="#">Subject_5</a>
  </div>


  <div class="button" id="button-5">
    <div id="translate"></div>
    <a href="#">Subject_6</a>
  </div>
  

  <!-- End Container -->
</div>
</div>
</body>
</html>

